<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="/src/main/resources/static/css/header.css" th:href="@{/css/header.css}">
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<aside th:replace="~{fragments/panel :: panel}"></aside>
<div class="main-content">
  <table class="custom-table">
    <thead>
    <tr>
      <th>Photo</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${usersList}" th:unless="${user.roles.contains('ADMIN')}">
        <td><img src="photo.png" th:src="${user.getPhotoUrl()}"></td>
        <td th:text="${user.firstName}">John</td>
        <td th:text="${user.lastName}">Doe</td>
        <td th:text="${user.email}">Doe</td>
        <td th:text="${user.phone}">Book 1</td>
        <td>
          <button class="custom-button"><a href="#" th:href="@{/dashboard/delete-user(id=${user.id})}">Delete</a></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script th:src="@{js/showFilter.js}"></script>
<script th:src="@{js/showSubMenu.js}"></script>
</body>
</html>