
.issue-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.section {
    flex-basis: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.section h2 {
    margin-top: 0;
}

.search-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.user-info, .book-info {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.user-info p, .book-info p {
    margin: 5px 0;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.form-container label {
    margin-right: 10px;
}

input[type="date"] {
    padding: 5px;
    width: 25%; /* Змінено ширину поля issueDate */
}

button {
    padding: 8px 20px;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #25c227;
}